body{
    @media screen and (min-width:250px) and (max-width:500px) {
       
        padding: 10px;
    }
}
#navbar{
    margin-top: 2%;

.images{
    height: 36px;
    width: 107px; 
    border-radius: 0px;
    @media screen and (min-width:250px) and (max-width:400px) {
        padding-left: 120px;
    }
}

.ulstyle{
    
    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        li{
            list-style: none;
        }
        p{
            padding: 0.8% 1.7%;
            margin: 0;
            border-radius: 15px;
            background: #F3F3F3;
        }
        span{
            background: $bodycolor;
            border-radius: 50%;
            padding: 0.9% 1.5%;
        }
    }

    @media screen and (min-width:350px) and (max-width:968px) {
        display: none;
    }
}
}

header{
   
    .headbar{
        margin: 2%;
        padding: 20px 0;
        background-color: #F3F3F3;
        border-radius: 20px
        ;
        .intertext{
            .interyerp{
                padding-top: 70px;
                font-size:50px;
                font-weight: 700;
                font-family: $f-family;
                line-height: 60px;
                @media screen and (min-width:250px) and (max-width:500px) {
                    text-align: center;
                    padding-top: 20px;
                }
            }
        }
        .bttntext{
            display: flex;
            justify-content: start;
            
            align-items: center;
            
            button{
                width: 215px;
                height: 60px ;    
                padding: 5px ;
                background-color: $bodycolor;
                font-family: $f-family;
                font-size: 20px;
                font-weight: 700;
                border: none;
                border-radius: 40px;
                line-height: 25px;
                text-align: center;
                a{
                    text-decoration: none;
                    color: $textcolor;
                }
            }
            .texts{
                padding-left: 10px;

                .text15{
                    margin: 0;
                    font-family: $f-family;
                    opacity: .7;
                }
                .text30{
                    margin: 0;
                    font-family: $f-family;
                    font-weight: 600;
                    color: red;
                }
            }
        }
        
        .dizaynaside{
            ul{
                width: 100%;
                display: flex;
                justify-content: end;
                @media screen and (min-width:350px) and (max-width:968px) {
                    justify-content: space-between;
                    padding: 0;
                    padding-top: 20px;
                 }
                li{
                    list-style: none;
                    padding: 0  10px;
                    cursor: pointer;

                }
            }
        }
    }

    .star{
        .derssaati{
            h3{
                padding-top: 50px;
                font-family: $f-family;
                font-size: 40px;
                font-weight: $f-weight;
            }
        }
        .startext{
            display: flex;
            justify-content: start;
            padding-top: 30px;
           
            img{
                width: 20px;
                
            }
            p{
               margin: 0px;
               padding-left: 10px; 
            }
        }
    }

    .blackborders{
        h3{
            padding-top: 50px;
            font-family: $f-family;
            font-size: 40px;
            font-weight: $f-weight;
        }
        .blackb{
            
            height: 160px;
            margin-top: 30px;
            border-radius: 20px;
            padding: 15px 30px;
            background-color: $textcolor;
            color: white;
            @media screen and (min-width:350px) and (max-width:968px) {
                height: 190px;
                
            }
            li{
                font-size: $f-size;
                line-height: 28px;
                padding: 10px;
                font-weight: 500;
            }
            p{
                opacity: .9;
                margin: 0%;
                font-size: 14px;
            }
        }
    }

    .slider1{
        padding: 30px 0;

        .raboti{
            padding-top: 50px;
            font-family: $f-family;
            font-size: 40px;
            font-weight: $f-weight;
        }
        .swiper {
            width: 100%;
            height: 100%;
          }
    
          .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
    
          }
    
          .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

    }

    .slider2{
        .uşaqlar{
            padding-top: 50px;
            font-family: $f-family;
            font-size: 40px;
            font-weight: $f-weight;
        }
        .swiper {
            width: 100%;
            height: 100%;
          }
    
          .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
    
          }
    
          .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
    }

    .fidans{
        padding: 40px 0;
        
          .swiper-slide {
              display: block;
              flex-direction: column;
              padding: 30px 50px;
            font-size: 18px;
            color: #fff;
            border: 1px solid;
            border-radius: 20px;
            background-color: $textcolor;
          }

          .fimg{
              display: flex;
              justify-content: start;
              align-items: center;
              font-family: $f-family;
              margin-bottom: 5px;
              img{
                  width: 40px;      
                }
                p{

                  padding-left: 10px;
                  margin: 0;
              }
              .dizayner{
                  opacity: 0.4;
              }

            }
            .swiper-button-next,.swiper-button-prev ::after{
                display: none;
            }
      
          @media (max-width: 760px) {
            .swiper-button-next {
              right: 20px;
              transform: rotate(90deg);
            }
      
            .swiper-button-prev {
              left: 20px;
              transform: rotate(90deg);
            }
          }
      }

      .residtch{
          position: relative;
          .instruktor{
            padding-top: 50px;
            font-family: $f-family;
            font-size: 40px;
            font-weight: $f-weight;
          }
         
          .imgteacher{
              img{
                  width: 100%;
                  object-fit: cover;
              }
          }

          .residtext{
            @media screen and (min-width:350px) and (max-width:968px) {
                text-align: center;
                .iconr{
                    display: none;
                }
            }
              .interyert{
                  opacity: .8;
              }
              .iconr{
                  width: 100%;
                  img{
                      padding-right: 20px;
                  }
              }
          }
          .container2{
              position: absolute;
              top: 540px;
              left: 480px;
              @media screen and (min-width:350px) and (max-width:968px) {
                display: none;
            }
              
          }
          .residbt{
              background-color: white;
              padding: 15px 60px ;
              border-radius: 50px;
              border: white;
             
              a{
                  text-decoration: none;
                  color: black;
                  font-size: 18px;
                  font-weight: $f-weight;
                  font-family: $f-family;

              }
          }

      }

      .birkard{  
        width: 96%;
        margin: 2%; 
        background-color: $textcolor;
        border-radius: 20px;
        color: white;
        font-family: $f-family;
        
        .birimg img{
            width: 100%;
            height: 520px;
        }
        
        .birtext{
            padding: 40px;
            .birkart{
                font-size: 50px;
                font-family: $f-family;
                font-weight: 700;}
            .birbutton{
                width: 230px;
                height: 80px;
                margin-top: 20px;
                padding: 5px 10px;
                background-color: $bodycolor;
                font-family: $f-family;
                font-size: 22px;
                font-weight: 700;
                border: none;
                border-radius: 40px;
                line-height: 30px;
                text-align: center;
                a{
                    text-decoration: none;
                    color: $textcolor;
                }

            }
        }

      }

      .endsection{
       
        .endtexts{
            .endtext1{
              font-size: 40px;
              font-family: $f-family;
              font-weight: 700;
              line-height: 60px;
            }
            .endtext2{
                font-family: $f-family;
                font-size: 25px;
               
            }
        }
    }

    .terminallogo{
       width: 100%;    
       img{
           width: 300px;
           padding: 40px;
        }
        @media screen and (min-width:350px) and (max-width:968px) {
         img{
             width: 200px;
         }
        }
    }

}

#footers{

        
  padding: 30px;
    background-color: $textcolor;
    .signup{
      
      border-radius: 20px;
      background-color: #F3F3F3;
      .signleft{
          width: 100%;
          padding: 40px;
      }
     .textleft{
      font-size: 50px;
      font-family: $f-family;
      font-weight: 700;
      line-height: 60px;
      @media screen and (min-width:350px) and (max-width:968px) {
        font-size: 37px;
        line-height: 35px;
    }
     } 
     .textleft2{
      font-family: $f-family;
      font-size: 30px;
      @media screen and (min-width:350px) and (max-width:968px) {
        font-size: 20px;
        line-height: 35px;
    }
     }
  }
  .signform{
      width: 100%;
      padding: 40px;
      @media screen and (min-width:350px) and (max-width:968px) {
        padding: 0;
    } 
      input{
          width: 100%;
          height: 50px;
          margin-top: 20px;
          border-radius: 10px;
          border: none;
          padding: 30px;
          
      }
      .comment{
          padding-bottom: 100px;
      }
      .signbutton{
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 20px;
          padding-top: 30px;
          @media screen and (min-width:350px) and (max-width:968px) {
            flex-direction: column;
            p{
                padding-left: 30px;
            }
        }
      }
  }
  .footerkontakt{
      color: white;
      padding-top: 20px;
      .phone{
          margin-top: 20px;
          display: flex;
          align-items: center;
          @media screen and (min-width:350px) and (max-width:968px) {
          font-size: 20px;
          
        }
          p{
              text-align: start;
              padding-left: 20px;
              margin: 0;         
          }
      }

      .melumat{
          font-family: $f-family;
          font-size: 20px;
          font-weight: 300;
          line-height: 30px;
          @media screen and (min-width:350px) and (max-width:968px) {
          display: none;
        }

      }
      .kontakticon{
          width: 100%;
          margin-top: 50px;
          @media screen and (min-width:350px) and (max-width:968px) {
           text-align: center;
           padding-bottom: 30px;
        }  
      }

      .bdcfooter{
          border-top: 1px solid white;
          .bdckontakt{
              margin-top: 30px;
               
          }
          p{
             padding-top: 20px; 
          }
      }
  }

}